.container-header {
 
}

.container-main-top {
    background-color: #55BD9D;
    color: white;
}

.container-main-center {
    background-color: white;
}
.container-main-bottom {
    background-color: lightgreen;
}

.container-footer-top {
    background-color: white;
}

.container-footer-bottom {
    background-color: lightgoldenrodyellow;
}

.footer-bottom-2 {
    background-color: darkorange;
}

.row img{
    width: 100%;
    border-radius: 5%;
}
#avatar {
    width: 50%;
}

.my-container {
    width: 50%;
    margin: 0 auto;
}