
.my-header {
    background-color: #2C3E50 ;
}


#avatar {
    width: 30%;
}

.row img{
    width: 100%;
    border-radius: 5%;
}


.my-container {
    background-color: #55BD9D;
    color:white;
    
}

.my-container-main-top {
    background-color: #55BD9D;
    color:white;
    padding-top: 6.25rem;
    
}

.main-top-container {
    background-color: #5CC4A8;
}

.button-main {
    background-color: #55BD9D;
}

.text {
    color: #55BD9D;
}

hr {
    width:150px;
   
}



.container-footer-bottom {
    background-color: #3A546D;
}

.footer-bottom-2 {
    background-color: #2C3E50;

}
